<!-- Nav tab -->
<ul class="nav nav-tabs"  >
  <li class="nav-item" >
    <a class="nav-link <%= path === '/detail-user' || path === '/reset' ? 'active' : '' %>"  href="/admin/detail-user/<%= user._id %>"  >Thông tin tài khoản</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link <%= path === '/donate' ? 'active' : '' %>" href="/admin/detail-user/<%= user._id %>/donate"   >Lịch sử quyên góp</a>
  </li>
</ul>