<%- include('../includes/head.ejs') %>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        
    </head>
    <body id="page-top" class="pagetop">
<%- include('../includes/navigation.ejs') %>       
       
<section class="page-section about-heading">
  <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../img/banner2.jpg" alt="..." />
      <div class="about-heading-content">
          <div class="row">
              <div class="col-xl-9 col-lg-10 mx-auto">
                  <div class="bg-faded rounded p-5">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Quỹ từ thiện</span>
                          <span class="section-heading-lower">Non-profit child care</span>
                      </h2>
                      <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- about -->
        <section class="page-section clearfix" id="about">
          <div class="container">
              <div class="intro">
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../img/banner3.jpg" alt="..." />
                  <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Mất chút thời gian được cả không gian tình cảm</span>
                          
                      </h2>
                      <p class="mb-3">Sự sẻ chia luôn mang lại nhiều điều kỳ diệu cho cuộc sống. Dù trong bất kỳ hoàn cảnh nào, chúng ta cũng đều có thể chia sẻ và quan tâm đến người khác. Hãy nhớ rằng, khi vui vẻ và hạnh phúc thì ít nhiều bạn cũng đã tạo ra được những tác động tích cực đến những người xung quanh.</p>
                      <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#project">Các dự án quyên góp</a></div>
                  </div>
              </div>
          </div>
      </section>
      <section class="page-section cta " id="project">
          <div class="container">
              <div class="row">          
                      <div class="cta-inner bg-faded text-center rounded row">
                        <p class="address mb-5">
                          <em>
                              <strong class="site-heading-lower">Các dự án quyên góp</strong>
                              <br />
                              Yêu thương và lòng tốt không bao giờ lãng phí.
                          </em>
                      </p>
                          
                          <!-- items charity -->
                          <div class="col-12 col-md-4">
                            <div class="card shadow-sm">
                              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  
                              <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <small>100.000.000 VND / 400.000.000 VND</small>
                                <small class="progress my-2">
                                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </small>
                                <div class="d-flex justify-content-between align-items-center">     
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Quyên góp</button>
                                    <small class="text-muted">Còn 30 ngày</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- items charity -->
                          <div class="col-12 col-md-4">
                            <div class="card shadow-sm">
                              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  
                              <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <small>100.000.000 VND / 400.000.000 VND</small>
                                <small class="progress my-2">
                                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </small>
                                <div class="d-flex justify-content-between align-items-center">     
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Quyên góp</button>
                                    <small class="text-muted">Còn 30 ngày</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- items charity -->
                          <div class="col-12 col-md-4">
                            <div class="card shadow-sm">
                              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  
                              <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <small>100.000.000 VND / 400.000.000 VND</small>
                                <small class="progress my-2">
                                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </small>
                                <div class="d-flex justify-content-between align-items-center">     
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Quyên góp</button>
                                    <small class="text-muted">Còn 30 ngày</small>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
              </div>
          </div>
      </section>

      <!-- contact -->
      <section class="page-section" id="contact">
        <div class="container ">
            <div class="row  ">
                <div class="col-xl-9 mx-auto opacity-10 cta pt-3 pb-3">
                    <div class="cta-inner bg-faded text-center rounded">
                        
                          <p class="address mb-5">
                            <em>
                                <strong class="site-heading-lower">Liên hệ với chúng tôi</strong>
                                <br />
                                Mọi ý kiến đóng góp và giúp đỡ xin được gửi qua đây. Chúng tôi sẽ sớm phản hồi lại !
                            </em>
                        </p>
                       
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                          <!-- Name input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                              <label for="name">Tên</label>
                              <div class="invalid-feedback" data-sb-feedback="name:required">Hãy điền tên của bạn.</div>
                          </div>
                          <!-- Email address input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                              <label for="email">Email</label>
                              <div class="invalid-feedback" data-sb-feedback="email:required">Hãy điền địa chỉ email.</div>
                              <div class="invalid-feedback" data-sb-feedback="email:email">Địa chỉ email không đúng.</div>
                          </div>
                          <!-- Phone number input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                              <label for="phone">Số điện thoại</label>
                              <div class="invalid-feedback" data-sb-feedback="phone:required">Hãy nhập số điện thoại của bạn.</div>
                          </div>
                          <!-- Message input-->
                          <div class="form-floating mb-3">
                              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                              <label for="message">Lời nhắn</label>
                              <div class="invalid-feedback" data-sb-feedback="message:required">Gửi lời nhắn đến chúng tôi.</div>
                          </div>
                          <!-- Submit success message-->
                          <!---->
                          <!-- This is what your users will see when the form-->
                          <!-- has successfully submitted-->
                          <div class="d-none" id="submitSuccessMessage">
                              <div class="text-center mb-3">
                                  <div class="fw-bolder">Form submission successful!</div>         
                              </div>
                          </div>
                          <!-- Submit error message-->
                          <!---->
                          <!-- This is what your users will see when there is-->
                          <!-- an error submitting the form-->
                          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                          <!-- Submit Button-->
                          <div class="d-grid"><button class="btn btn-primary btn-xl disabled mb-2" id="submitButton" type="submit" >Submit</button></div>
                      </form>
                       
                        <p class="mb-0">
                            <small><em>Gọi cho chúng tôi</em></small>
                            <br />
                            (84) 76666 8493
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Footer-->
      
      <footer class="footer text-faded text-center py-4">
          <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
      </footer>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<%- include('../includes/end.ejs') %>
